.App {
  text-align: center;
  display: inline-block;
  font-size: 24px;
}

.shopping-card {
  /* Center the div  */
  margin: right;
  display: inline-block;
  box-shadow: rgba(212, 8, 134, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  /* Dimensions  */
  width: 80%; /* Can be in percentage also. */
  height: auto;
  font-size: 24px;
}


.book-text {
  color: white;
  font-size: 24px;
  padding: 16px;
}



button {
  background-color: rgb(222, 16, 191);
  border: 25px;
  margin-bottom: 10px;
  text-shadow: 100px black;
  color: white;
  padding: 14px 55px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 34px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  font-size: 24px;
  padding: 16px;
  margin-bottom: 40px;
  text-align: center;
}
