.App {
  text-align: center;
  display: inline-block;
  font-size: 24px;
}

.book-card {
  display: inline-block;
  text-align: center;
  background-color: blueviolet;
  width: 80%;
  height: auto;
  font-size: 24px;
}

.book-text {
  color: white;
  font-size: 16px;
  padding: 16px;
}

button {
  background-color: rgb(222, 16, 191);
  border: 25px;
  margin-bottom: 10px;
  text-shadow: 100px black;
  color: white;
  padding: 14px 55px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  border-radius: 34px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  font-size: 24px;
  padding: 16px;
  margin-bottom: 40px;
  text-align: center;
}
